<p>log-view works!</p>
<app-range-slider-plus [(min)]="lineMin" [(max)]="lineMax" />
<div class="table-container">
  <table class="log-table">
    <thead>
      <tr>
        @for (header of tableHeaders(); track header) {
          <th>{{ header }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (logLine of log() | filterLogs: lineMin() : lineMax(); track logLine) {
        <tr>
          <td class="log-table__data">{{ logLine.lineId }}</td>
          <td class="log-table__data">{{ logLine.time.toISOString() }}</td>
          <td class="log-table__data">{{ logLine.level }}</td>
          <td class="log-table__data">{{ logLine.content }}</td>
          <td class="log-table__data">{{ logLine.eventId }}</td>
          <td class="log-table__data">{{ logLine.eventTemplate }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
